img {
    max-width: 100%;
}

/*.banner-image {
    width: 100%;
    background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/3QQaEkThAnIAiXveGhJYD9/f79a571dbe9fd456d65e783040601fdc/hogwarts-castle-.jpg?fm=jpg");
    height: 605px;
    background-position: center;
  }*/