<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row mt-4 pb-4">
					<div class="col-sm-10">
						<h2><b>Personajes</b></h2>
					</div>
					<div class="col-sm-2">
						<select class="form-control" [(ngModel)]="selectedHouse" (ngModelChange)="fetchCharactersByHouse(selectedHouse)">
							<option *ngFor="let house of houses" [value]="house">{{ house }}</option>
						</select>
					</div>
				</div>
            </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Patronus</th>
						<th>Age</th>
						<th>Image</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let character of characters">
						<td>{{ character.name }}</td>
						<td>{{ character.patronus }}</td>
						<td>{{ character.dateOfBirth | age }}</td>
						<td><img class="character-image" [src]="character.image"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>        
</div>
